<nav class="flex w-full justify-between items-center p-5 bg-secondaryColor">
  <ul class="flex items-center gap-10">
    <li class="font-semibold text-xl text-white">
      <%= link_to root_path, id: 'root_path' do %>
        Schedule Me App
      <% end %>
    </li>
  </ul>

  <% if current_user %>
    <ul class="flex items-center gap-10">
      <% if current_user.profile.manager? %>
        <li class="font-semibold text-white text rounded">
          <%= link_to new_project_path, id: 'new_project_path' do %>
            Create project
          <% end %>
        </li>
      <% end %>

      <li class="font-semibold text-white text rounded">
        <%= button_to user_path(current_user.token_id), method: :get, id: 'show_user' do %>
          Profile
        <% end %>
      </li>

      <li class="font-semibold text-white text rounded">
        <%= button_to edit_user_path(current_user.token_id), method: :get, id: 'edit_user' do %>
          Edit Account
        <% end %>
      </li>

      <li class="font-semibold text-white text rounded">
        <%= button_to logout_path, method: :delete, id: 'close_session' do %>
          Log out
        <% end %>
      </li>
    </ul>
    <% else %>
    <ul class="flex items-center gap-10">
      <li class="font-semibold text-white text rounded">
        <%= link_to login_path, id: 'login_navbar_link' do %>
          Login
        <% end %>
      </li>

      <li class="font-semibold text-white text rounded">
        <%= link_to signup_path, id: 'signup_navbar_link' do %>
          Sign Up
        <% end %>
      </li>
    </ul>
  <% end %>
</nav>
